@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Inconsolata', monospace;
}

button{
    font-family: 'Roboto', sans-serif;
}

.add_product{
    position: absolute;
    // bottom: 10px;
    /* width: 80px; */
    height: 100%;
    border-radius: 30px;
    border: 2px solid #1d1d1d; 
    background-color: white;
    transform: scale(0);
    margin-left: 50%;
    display: inline-block;
    /* margin-left: 150px; */
}

// .add_product:hover{
//     #product{
//         transform: scale(1);
//     }
// }

.add_product_nb{
    position: absolute;
    // bottom: 10px;
    width: 40px;
    height: 100%;
    border-radius: 30px;
    border: 2px solid #1d1d1d; 
    background-color: white;
    transform: scale(0);
    margin-left: 0%;
    // /* display: inline-block; */
    /* margin-left: 100px; */
}

.add_product_size{
    position: absolute; 
    // bottom: 10px;
    width: 50px;
    height:100%; 
    border-radius: 30px;
    border: 2px solid #1d1d1d; 
    background-color: white;
    transform: scale(0);
    /* margin-left: 40px; */
    margin-right: 50%;
    outline:0px;
    // margin-left: 0;
    /* display: inline-block; */
}

// #product:hover + .form_product .add_product, #product:hover + .form_product > .add_product_nb, #product:hover + .form_product > .add_product_size{
//     display: inline-block;
//     transition: all .2s ease-in-out;
//     transform: scale(1);
    
//     &.add_product:hover{
//         #project{
//             transform: scale(1);
//         }
//     }
// }

#prod{
    // img{
    //     &:hover{
    //         transform: scale(1.2); 
    //         overflow: hidden ;

            
    //     }

    // }
    &:hover{
        .add_product{
            transition: all .4s ease-in-out;
            transform: scale(1); 
        }
        .add_product_nb{
            transition: all .3s ease-in-out;
            transform: scale(1); 
        }
        .add_product_size{
            transition: all .2s ease-in-out;
            transform: scale(1); 
        }

        img{
            transform: scale(1.2); 
            overflow: hidden ;
        }
    }
    

    
}

/* .add_product:hover >.product{
    position: absolute; 
    transform : scale(1,25);
    overflow: hidden;
} */